USE [master]
GO
/****** Object:  Database [PVBClothing]    Script Date: 6/21/2022 11:17:45 PM ******/
CREATE DATABASE [PVBClothing]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PVBClothing', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.QUOCBAO1123\MSSQL\DATA\PVBClothing.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PVBClothing_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.QUOCBAO1123\MSSQL\DATA\PVBClothing_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PVBClothing].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PVBClothing]
GO
/****** Object:  Table [dbo].[Invoince]    Script Date: 6/21/2022 11:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoince](
	[invoinceNo] [varchar](50) NOT NULL,
	[dateOrder] [datetime] NULL,
	[status] [bit] NULL,
	[deliveryStatus] [bit] NULL,
	[deliveryDate] [datetime] NULL,
	[totalMoney] [int] NOT NULL,
	[userName] [varchar](50) NULL,
	[customerId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[invoinceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vDoanhThuTheoNgay]    Script Date: 6/21/2022 11:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vDoanhThuTheoNgay] AS
SELECT ISNULL(CONVERT(VARCHAR(10), dateOrder, 103),-1) AS dateOrder, sum(totalMoney) AS income
FROM dbo.Invoince hd 
GROUP BY CONVERT(VARCHAR(10), dateOrder, 103)
GO
/****** Object:  View [dbo].[vHoaDonTrongNgay]    Script Date: 6/21/2022 11:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vHoaDonTrongNgay] AS
SELECT *
FROM dbo.Invoince
WHERE DATEPART(day,dateOrder) = DATEPART(day,getdate())
GO
/****** Object:  Table [dbo].[Article]    Script Date: 6/21/2022 11:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[articleId] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](250) NOT NULL,
	[shortDescription] [nvarchar](2000) NULL,
	[image] [nvarchar](2000) NULL,
	[publicDate] [datetime] NULL,
	[content] [nvarchar](max) NULL,
	[status] [bit] NULL,
	[userName] [varchar](50) NOT NULL,
	[categoryId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[articleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 6/21/2022 11:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dateContact] [datetime] NULL,
	[name] [nvarchar](250) NULL,
	[email] [varchar](50) NOT NULL,
	[message] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 6/21/2022 11:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerId] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](250) NULL,
	[lastName] [nvarchar](250) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoinceDetail]    Script Date: 6/21/2022 11:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoinceDetail](
	[invoinceNo] [varchar](50) NOT NULL,
	[productId] [int] NOT NULL,
	[quanlityProduct] [int] NULL,
	[unitPrice] [int] NULL,
	[totalPrice] [int] NULL,
	[totalDiscount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[invoinceNo] ASC,
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 6/21/2022 11:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[userName] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[firstName] [nvarchar](250) NULL,
	[lastName] [nvarchar](250) NULL,
	[email] [varchar](50) NULL,
	[birthday] [date] NULL,
	[gender] [bit] NULL,
	[phone] [varchar](20) NULL,
	[RegisteredDate] [datetime] NULL,
	[address] [nvarchar](250) NULL,
	[avatar] [nvarchar](2000) NULL,
	[status] [bit] NULL,
	[roleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 6/21/2022 11:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[productName] [nvarchar](250) NOT NULL,
	[image] [varchar](2000) NULL,
	[price] [int] NULL,
	[discount] [int] NULL,
	[description] [nvarchar](2000) NULL,
	[quanlity] [int] NULL,
	[brand] [nvarchar](250) NULL,
	[dateCreate] [datetime] NULL,
	[status] [bit] NULL,
	[categoryId] [int] NOT NULL,
	[userName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 6/21/2022 11:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[categoryId] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](250) NOT NULL,
	[note] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/21/2022 11:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleId] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [nvarchar](50) NOT NULL,
	[note] [nvarchar](130) NULL,
PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 6/21/2022 11:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dateCreate] [datetime] NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](250) NULL,
	[url] [varchar](50) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Article] ON 

SET IDENTITY_INSERT [dbo].[Article] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([id], [dateContact], [name], [email], [message]) VALUES (2003, CAST(N'2022-04-05T10:20:53.923' AS DateTime), N'java', N'thegian11234@gmail.com', N'aloalo')
INSERT [dbo].[Contact] ([id], [dateContact], [name], [email], [message]) VALUES (3003, CAST(N'2022-05-15T22:21:48.263' AS DateTime), N'beo1123', N'vbao964@gmail.com', N'sss')
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
INSERT [dbo].[Invoince] ([invoinceNo], [dateOrder], [status], [deliveryStatus], [deliveryDate], [totalMoney], [userName], [customerId]) VALUES (N'HD6162022_3315', CAST(N'2022-06-16T15:33:15.693' AS DateTime), 1, 1, CAST(N'2022-06-16T15:34:30.133' AS DateTime), 214, N'vdu1234@gmail.com', NULL)
INSERT [dbo].[Invoince] ([invoinceNo], [dateOrder], [status], [deliveryStatus], [deliveryDate], [totalMoney], [userName], [customerId]) VALUES (N'HD6202022_4403', CAST(N'2022-06-20T21:44:03.747' AS DateTime), 1, 1, CAST(N'2022-06-20T21:45:17.410' AS DateTime), 53, N'vdu1234@gmail.com', NULL)
GO
INSERT [dbo].[InvoinceDetail] ([invoinceNo], [productId], [quanlityProduct], [unitPrice], [totalPrice], [totalDiscount]) VALUES (N'HD6162022_3315', 46, 3, 19, 36, 21)
INSERT [dbo].[InvoinceDetail] ([invoinceNo], [productId], [quanlityProduct], [unitPrice], [totalPrice], [totalDiscount]) VALUES (N'HD6162022_3315', 66, 1, 39, 38, 1)
INSERT [dbo].[InvoinceDetail] ([invoinceNo], [productId], [quanlityProduct], [unitPrice], [totalPrice], [totalDiscount]) VALUES (N'HD6162022_3315', 77, 4, 35, 140, 0)
GO
INSERT [dbo].[Member] ([userName], [password], [firstName], [lastName], [email], [birthday], [gender], [phone], [RegisteredDate], [address], [avatar], [status], [roleId]) VALUES (N'admin', N'e10adc3949ba59abbe56e057f20f883e', N'Võ', N'Bảo', NULL, NULL, NULL, N'012365238', CAST(N'2022-03-22T18:18:49.000' AS DateTime), N'Dương Bá Trạc, TPHCM', N'~/Content/img/avatar/bao.jpg', 1, 1)
INSERT [dbo].[Member] ([userName], [password], [firstName], [lastName], [email], [birthday], [gender], [phone], [RegisteredDate], [address], [avatar], [status], [roleId]) VALUES (N'vdu123@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'Võ', N'Bảo', NULL, NULL, NULL, N'086543325', CAST(N'2022-03-25T21:36:39.000' AS DateTime), N'Gò Vấp11', N'~/Content/img/avatar/ddddaaaa.jpg', 1, 3)
INSERT [dbo].[Member] ([userName], [password], [firstName], [lastName], [email], [birthday], [gender], [phone], [RegisteredDate], [address], [avatar], [status], [roleId]) VALUES (N'vdu1234@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'Vo', N'Bao', NULL, NULL, NULL, N'0812162399', CAST(N'2022-06-16T15:08:24.000' AS DateTime), N'c1/11g', N'~/Content/img/logo1.png', 1, 3)
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([productId], [productName], [image], [price], [discount], [description], [quanlity], [brand], [dateCreate], [status], [categoryId], [userName]) VALUES (43, N'Happy Nuts Comfort Cream', N'~/Content/img/product/60727732_000_b.jpg', 14, 0, N'Keep it all fresh and comfy with this lightweight cream from Happy Nuts. Odor-neutralizing formula that goes on smooth and dries to a silky powder finish. Made with natural ingredients. Talc free.', 50, N'Happy Nuts', CAST(N'2021-08-15T22:33:25.783' AS DateTime), 1, 8, N'admin')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([categoryId], [categoryName], [note]) VALUES (1, N'T-shirt', NULL)
INSERT [dbo].[ProductCategory] ([categoryId], [categoryName], [note]) VALUES (2, N'Shirt', NULL)
INSERT [dbo].[ProductCategory] ([categoryId], [categoryName], [note]) VALUES (3, N'Jacket', NULL)
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([roleId], [roleName], [note]) VALUES (1, N'Manager', NULL)
INSERT [dbo].[Role] ([roleId], [roleName], [note]) VALUES (2, N'Employee', NULL)
INSERT [dbo].[Role] ([roleId], [roleName], [note]) VALUES (3, N'Customer', NULL)
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
ALTER TABLE [dbo].[Article] ADD  DEFAULT (getdate()) FOR [publicDate]
GO
ALTER TABLE [dbo].[Contact] ADD  DEFAULT (getdate()) FOR [dateContact]
GO
ALTER TABLE [dbo].[Invoince] ADD  DEFAULT (getdate()) FOR [dateOrder]
GO
ALTER TABLE [dbo].[InvoinceDetail] ADD  DEFAULT ((0)) FOR [quanlityProduct]
GO
ALTER TABLE [dbo].[InvoinceDetail] ADD  DEFAULT ((0)) FOR [totalPrice]
GO
ALTER TABLE [dbo].[InvoinceDetail] ADD  DEFAULT ((0)) FOR [totalDiscount]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT (getdate()) FOR [RegisteredDate]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT ('avatar.jpg') FOR [avatar]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [quanlity]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ('No brand') FOR [brand]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [dateCreate]
GO
ALTER TABLE [dbo].[Slide] ADD  DEFAULT (getdate()) FOR [dateCreate]
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_POST_CATEGORY] FOREIGN KEY([categoryId])
REFERENCES [dbo].[ProductCategory] ([categoryId])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_POST_CATEGORY]
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_POST_MEMBER] FOREIGN KEY([userName])
REFERENCES [dbo].[Member] ([userName])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_POST_MEMBER]
GO
ALTER TABLE [dbo].[Invoince]  WITH CHECK ADD  CONSTRAINT [FK_INVOINCE_CUSTOMER] FOREIGN KEY([customerId])
REFERENCES [dbo].[Customer] ([customerId])
GO
ALTER TABLE [dbo].[Invoince] CHECK CONSTRAINT [FK_INVOINCE_CUSTOMER]
GO
ALTER TABLE [dbo].[Invoince]  WITH CHECK ADD  CONSTRAINT [FK_INVOINCE_MEMBER] FOREIGN KEY([userName])
REFERENCES [dbo].[Member] ([userName])
GO
ALTER TABLE [dbo].[Invoince] CHECK CONSTRAINT [FK_INVOINCE_MEMBER]
GO
ALTER TABLE [dbo].[InvoinceDetail]  WITH CHECK ADD  CONSTRAINT [FK_INVOINCEDETAIL_INVOINCE] FOREIGN KEY([invoinceNo])
REFERENCES [dbo].[Invoince] ([invoinceNo])
GO
ALTER TABLE [dbo].[InvoinceDetail] CHECK CONSTRAINT [FK_INVOINCEDETAIL_INVOINCE]
GO
ALTER TABLE [dbo].[InvoinceDetail]  WITH CHECK ADD  CONSTRAINT [FK_INVOINCEDETAIL_PRODUCT] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[InvoinceDetail] CHECK CONSTRAINT [FK_INVOINCEDETAIL_PRODUCT]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_ROLE] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([roleId])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_MEMBER_ROLE]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORY] FOREIGN KEY([categoryId])
REFERENCES [dbo].[ProductCategory] ([categoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_PRODUCT_CATEGORY]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_MEMBER] FOREIGN KEY([userName])
REFERENCES [dbo].[Member] ([userName])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_PRODUCT_MEMBER]
GO
USE [master]
GO
