
@{
    ViewBag.Title = "Navbar";
}

<a href="@Url.Action("Cart","Cart")" class="btn cart">
    <i class="fa fa-shopping-cart"></i>
    <span>(@ViewBag.quanlityItem)</span>
    <span>$@ViewBag.totalPrice</span>

</a>


